{% extends 'base.html' %}

{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        background: url('{{ url_for('static', filename='hello.gif') }}') no-repeat center 15% fixed;
        background-size:50%;
        
    }
  </style>

   
        <div class="intro col-md-6 offset-md-3 text-center">
            <h1 >Welcome to the Final Project of Group 7</h1>
     
    </div>

    <style>
        .intro {
            position: relative; /* Set the container's position to relative */
            height: 100vh; /* Set the container's height to the viewport height */
        }
    
        .intro h1 {
            position: absolute; /* Set the <h1> tag's position to absolute */
            bottom: 30%; /* Adjust this value to position the <h1> tag as needed */
            width: 100%; /* Set the width to take the full width of the container */
        }
    </style>

  
{% endblock %}
