{% extends 'base.html' %}

    {% block content %}
    <canvas id="piechart" style="width: 900px; height: 500px;"></canvas>

    <script>
      const backgroundColor = [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ];
      const data = {
        labels: {{labels | safe }},
        datasets: [{
          label: 'My First Dataset',
          data: {{values | safe }},
          backgroundColor: backgroundColor,
          hoverOffset: 4
        }]
      };
      const config = {
        type: 'pie',
        data: data,
        options:{
          responsive:false
        }
       
      };

      var ctx = document.getElementById("piechart").getContext("2d");
      var pieChart = new Chart(ctx, config)

    </script>


    {% endblock %}
